<mat-toolbar class="mat-elevation-z8">
    <button mat-icon-button *ngIf="sidenav.mode === 'over'" (click)="sidenav.toggle()">
        <mat-icon *ngIf="!sidenav.opened">
            menu
        </mat-icon>
        <mat-icon *ngIf="sidenav.opened">
            close
        </mat-icon>
    </button>
</mat-toolbar>

<mat-sidenav-container>
    <mat-sidenav #sidenav="matSidenav" class="mat-elevation-z8">
        <label class="menu-label">Pannon Livemap adatbázis</label><hr>
        <button mat-button class="menu-button" routerLink="/conntagsensor">
            <mat-icon>assessment</mat-icon>
            <span>Szenzorok kezelése</span>
        </button>
        <button mat-button class="menu-button" routerLink="/machine">
            <mat-icon>build</mat-icon>
            <span>Gépek kezelése</span>
        </button><button mat-button class="menu-button" routerLink="/product">
            <mat-icon>grade</mat-icon>
            <span>Termékek kezelése</span>
        </button>
        <button mat-button class="menu-button" routerLink="/color">
            <mat-icon>color_lens</mat-icon>
            <span>Színek beállítása</span>
        </button>
        <br><br><br>
        <label class="menu-label">Ponton adatbázis</label><hr>
        <button mat-button class="menu-button" routerLink="/asset">
            <mat-icon>history</mat-icon>
            <span>Termék életút (asset track)</span>
        </button>
        <button mat-button class="menu-button" routerLink="/livemap">
            <mat-icon>map</mat-icon>
            <span>Livemap</span>
        </button>
    </mat-sidenav>
    <router-outlet></router-outlet>
</mat-sidenav-container>
