<h1 mat-dialog-title>Adatok mentése</h1>
<div mat-dialog-content>
    <form [formGroup]="productForm">
        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Tag ID</mat-label>
            <mat-select formControlName="Tag_ID">
                <mat-option *ngFor="let Tag of TagList" [value]="Tag.tag_id">
                    {{Tag.tag_id}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>RFID ID</mat-label>
            <input matInput formControlName="RFID_ID" type="text">
        </mat-form-field>
        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Product name</mat-label>
            <input matInput formControlName="Product_name" type="text">
        </mat-form-field>
        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Product type</mat-label>
            <input matInput formControlName="Product_type" type="text">
        </mat-form-field>
        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Delivery time</mat-label>
            <input matInput type="datetime-local" formControlName="Delivery_time">
        </mat-form-field>
        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Produced time</mat-label>
            <input matInput type="datetime-local" formControlName="Produced_time">
        </mat-form-field>
        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Asset</mat-label>
            <input matInput formControlName="Asset" type="text">
        </mat-form-field>
    </form>
</div>
<div mat-dialog-actions [align]="'end'">
    <button mat-raised-button color="warn" mat-dialog-close>Mégse</button>
    <button mat-raised-button color="primary" (click)="addProductItem()">{{actionBtn}}</button>
</div>